.todoheader{
    padding: 25px;
    margin: 25px;
    .header{
        background-color:  #FF99FF;
        border-radius: 25px 25px 0px 0px;
        padding: 25px;
        border: 2px solid rgb(231, 4, 182);
        h1{
            text-align: center;
            text-transform: uppercase;
            font-size: 60px;
            color: #fff;
        }
        &__function{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            margin: auto;
            width: 80%;
            justify-content: space-around;
            
            .function__show{
                input{
                    cursor: pointer;
                }
            }
            .function__add{
                button{
                    background-color: #fff;
                    border-radius: 25px;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.5px;
                        background-color: #FFCCFF;
                    }
                }
            }
            
        }
        
    }
    .list{
        background-color: #FFCCFF;
        border-radius: 0px 0px 25px 25px;
        border: 2px solid rgb(231, 4, 182);
        padding: 15px;
        text-align: center;
        .todolist__tag{
            display: grid;
            margin-left: 15%;
            width: 61%;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                background: rgb(244, 244, 245);
                border: 2px solid #FF99FF;
                border-radius: 25px;
                padding: 10px;
                color: rgb(0, 0, 0);
                cursor: pointer;

                background: #fff;
                overflow: hidden;
                text-align: center;

                 /* thiết kế dấu mũi tên */

              select::after {
                content: '\25BC';
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: DodgerBlue;
                cursor: pointer;
                pointer-events: none;
                -webkit-transition: .25s all ease;
                -o-transition: .25s all ease;
                transition: .25s all ease;
                color: white;
              }
              /* Transition */
              select:hover::after {
                color: Gainsboro;
              }
              option{
                  border-radius: 25px;
              }
            }

             
              
            .header__tag{
                p{
                    i{
                        cursor: pointer;
                    }
                }
            }
    
            .tag__status{
                margin-left: 15%;
            }
            .tag__deadline{
                margin-left: -15%;
            }
    
        }
    }
   
}
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot");
    src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff") format("woff"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf") format("truetype"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg") format("svg");
}
select {
    font-family: FontAwesome;
}
/* Tablet and Mobile */
@media only screen and (max-width : 1023px){

}
/* Mobile */
@media only screen and (max-width : 739px) {
    .todoheader{
        padding: 0px;
        
            .todolist__tag{
                width: 100%;
                display: flex;
                justify-content: space-around;
                .tag__name{
                    text-align: center;
                }
                .tag__status{
                    margin-left: 0%;
                }
                .tag__priority{
                    margin-left: 0%;
                }
                .tag__deadline{
                    margin-left:0%;
                }
        
            }
        }

}

/* Tablet */
@media only screen and (min-width : 740px) and (max-width : 1024px) {
.todoheader{
    padding: 0px;
        .list{

            .todolist__tag{
                width: 65%;
                .tag__name{
                    text-align: center;
                }
                .tag__status{
                    margin-left: 0%;
                }
                .tag__priority{
                    margin-left: 0%;
                }
                .tag__deadline{
                    margin-left:0%;
                }
        
            }
        }
    }
}

@media only screen and (min-height : 1200px){

}


/* PC */
@media only screen and (min-width : 1024px) {
    
}