.tododetail{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    &__form{    
        width: 40%;
        padding: 20px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 0 8px  #669999; 

        

            
        
        .infor{
            &__close{
                color: #669999;
                font-size: 30px;
                cursor: pointer;

                &:hover {
                    color:  #a3c2c2;
                }
            }

            h1{
                margin: 0;
                font-size: 34px;
                text-align: center;
                line-height: 83px;
            }

            &__name{
    
                input{
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    width: calc(100% - 10px);
                    padding: 5px;
                }
            }
    
            &__desc{
    
                textarea {
                    width: calc(100% - 12px);
                    padding: 5px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    }
            }
    
            &__deadline{
                
                input{
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    width: calc(100% - 10px);
                    padding: 5px;
                }

 
            }
    
    
            &__status-priority{
                display: flex;
                justify-content: space-around;
                .status{

                    input{
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        width: calc(100% - 10px);
                        padding: 5px;
                    }
                }
        
                .priority{

                    input{
                        margin-bottom: 10px;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        width: calc(100% - 10px);
                        padding: 5px;
                    }
                }
            }
    
            &__btn{
                margin-top: 10px;
                text-align: center;
                display: flex;
                justify-content: space-around;

                button {
                    width: 150px;
                    padding: 10px;
                    border: none;
                    border-radius: 25px; 
                    background:  #669999;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                    &:hover {
                    background:  #a3c2c2;
                    }
                    }
            }
        }



    }
}
